.title{
    text-align: center;
    margin-top: 190px; 
    transition: 1s ease
}
.title:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.img{
    border-radius: 2000px;
   
}
.nav{
    position:sticky;
}
body{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.card{
    transition: .3s;
}
.card:hover{
    transform: scale(.93);
    transition: .5s ease;
}

.link{
    color: black;
    text-decoration: none;

}
.link:hover{
    color:lightseagreen
}

.link-1{
    color: black;
    text-decoration: none;

}
.link-1:hover{
    color:rgb(231, 81, 96)
}
